<div class="contacts">
  <h3 class="h1-contacts">Contacts</h3>
  <div class="contacts-box">
    <p class="contact-info email"><img class="img-contacts" src="assets/email.png" alt="email">  {{ contacts.email }}</p>
    <p class="contact-info linkedin"><img class="img-contacts" src="assets/linkedin.png" alt="linkedin">  {{ contacts.linkedin }}</p>
    <p class="contact-info github"><img class="img-contacts" src="assets/github.png" alt="github">  {{ contacts.github }}</p>
    <p class="contact-info telegram"><img class="img-contacts" src="assets/telegram.png" alt="telegram">  {{ contacts.telegram }}</p>
    <p class="contact-info address"><img class="img-contacts" src="assets/address.png" alt="address">  {{ contacts.address }}</p>
  </div>
</div>
