<div class="container">
  <form class="forgot-password-form" (ngSubmit)="forgot()">
    <h1>Forgot Password</h1>
    <label class="forgot-password-label" for="useremail">User email:</label>
    <input class="form-control" type="text" id="useremail" name="email" [(ngModel)]="email"/>
    <p *ngIf="!isError" class="notify">{{notify}}</p>
    <p *ngIf="isError" class="notify color-red">{{errorMessage}}</p>
    <div class="action">
      <input class="btn btn-submit" type="submit" value="Forgot password"/>
      <a class="login-link" routerLink="/login">Login</a>
      <a class="home-link" routerLink="/">Home</a>
    </div>
  </form>
</div>
