.forgot-password-form{
  background-color: #CAD2C5;
  padding: 8px;
}
h1{
  text-align: center;
  margin: 1em 0;
}


.forgot-password-label{
  font-size: 1em;
  margin-bottom: 5px;
}

.notify{
  font-size: 0.75em;
  color: #2f3e46;
  margin: 5px 0;
}

.action{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-submit {
  background-color: #84A98C;
  color: white;
  margin: 10px 0;
}

.login-link,
.home-link{
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 7px 22px;
  margin-left: 20px;
  background-color: #84A98C;
  color: white;
}

.btn-submit:hover,
.login-link:hover,
.home-link:hover{
  background-color: #52796F;
}
