.reset-password-form {
  background-color: #CAD2C5;
  padding: 8px;
}

h1 {
  text-align: center;
  margin: 0.5em 0;
}

.reset-label {
  font-size: 1em;
  margin: 10px 0 5px 0;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-submit {
  background-color: #84A98C;
  color: white;
  margin: 10px 0;
}

.forgot-password-link,
.home-link {
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 7px 22px;
  margin-left: 20px;
  background-color: #84A98C;
  color: white;
}

.btn-submit:hover,
.forgot-password-link:hover,
.home-link:hover {
  background-color: #52796F;
}
