<div class="container">
  <form class="reset-password-form">
    <h1>Reset Password</h1>
    <label class="reset-label" for="number">Number from email:</label>
    <input class="form-control" type="text" id="number" name="number" [(ngModel)]="number"/>
    <label class="reset-label" for="password">New Password:</label>
    <input class="form-control" id="password" type="text" name="password" [(ngModel)]="password"/>
    <div class="action">
      <input class="btn btn-submit" type="submit" value="Reset password">
      <a class="forgot-password-link" routerLink="/forgot-password">Back</a>
      <a class="home-link" routerLink="/">Home</a>
    </div>
  </form>
</div>
