    <div class="reply-container">
      <div class="reply-container-header">
        <div class="nickname-action">
          <p>{{comment.userNickName}}</p>
          <div class="action">
            <p class="like"> <span>Likes: </span>{{comment.likes.length}}</p>
            <p class="dislike"> <span>DisLikes: </span>{{comment.disLikes.length}}</p>
          </div>
        </div>
      </div>
        <div class="dates">
          <p class="createdAt"> <span>CreatedAt: </span>{{comment.createdAt | date:'MMM/d/yyyy, H:mm'}}</p>
          <p class="updatedAt" *ngIf="(comment.updatedAt | date:'yyyy') == '0001'"> <span>UpdatedAt: </span>{{comment.updatedAt | date:'MMM/d/yyyy, H:mm'}}</p>
        </div>
        <form class="reply-form">
          <textarea class="reply-message" type="text" value="{{comment.commentText}}" [attr.rows]="getRows(comment.commentText)" [disabled]="!isEdit"></textarea>
          <div class="reply-btn-actions">
            <button class="btn button-update" type="submit" *ngIf="isEdit" (click)="isEdit=!isEdit"><img class="reply-img img-update" src="assets/updated.png" alt="update"></button>
            <button class="btn button-cancel" *ngIf="isEdit" (click)="isEdit=!isEdit"><img class="reply-img img-cancel" src="assets/cancel.png" alt="cancel"></button>
            <button class="btn button-edit" *ngIf="!isEdit" (click)="edit()"><img class="reply-img img-edit" src="assets/edit.png" alt="edit"></button>
            <button class="btn button-delete" *ngIf="!isEdit"><img class="reply-img img-delete" src="assets/trash-bin.png" alt="delete" ></button>
          </div>
        </form>
      <div>
        <button class="btn replybtn" (click)="isReply = !isReply">Reply</button>
        <button class="btn show-reply" *ngIf="comment.replies && comment.replies.length != 0" (click)="isHidden = !isHidden">Show {{comment.replies.length}} Replies</button>
      </div>
      <app-comment-form *ngIf="isReply" parrentId={{comment.commentId}}></app-comment-form>
      <div *ngIf="isHidden" class="replies">
        <app-reply [comments]="comment.replies"></app-reply>
      </div>
    </div>
