.reply-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.reply-container-header{
  display: flex;
  flex-direction: column;
  background-color: #cad2c5;
}

.reply-container-header .nickname-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-nickname{
  margin-left: 1em;
}

.reply-container-header .action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-like,
.button-dislike{
  margin-right: 1em;
  background-color: inherit;
  border: 0;
}

.button-img-like{
  width: 1.5em;
}

.button-img-dislike{
  width: 1.2em;
  filter: invert(5%);
}

.button-img-dislike-filter-invert{
  filter: invert(100%);
}

.replies {
  margin-left: 1em;
}

.replybtn {
  width: 4em;
  background-color: #84A98C;
  color: white;
}

.replybtn:hover{
  background-color: #52796F;
}

.show-reply{
  color: #52796f;
}

.dates{
  font-size: 0.75em;
}

.reply-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reply-message{
  width: 80%;
  height: 100%;
  margin: 0.75em 0;
  padding: 0.5em;
  border-radius: 5px;
  background-color: inherit;
}

.reply-btn-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
}

.reply-img{
  width: 1.5em;
  border-radius: 50%;
}

.button-edit,
.button-delete,
.button-update,
.button-cancel,
.button-delete-yes,
.button-delete-no {
  background-color: #cad2c5;
  margin-left: 0.3em;
}

.button-update,
.button-delete-yes{
  background-color: #b5e48c;
}

.button-cancel,
.button-delete-no {
  background-color: #fcd5ce;
}

.button-edit:disabled,
.button-delete:disabled{
  border: 0;
  background-color: inherit;
  margin-left: 0.3em;
}

.img-update:hover {
  background-color: #cad2c5;
}

.img-cancel:hover {
  background-color: #84a98c;
}

.img-edit:hover {
  background-color: #cad2c5;
}

.img-delete:hover {
  background-color: #84a98c;
}
